<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="allfile"
            fileName="${basedir}/../../test.log"
            encoding="utf-8"
            archiveFileName="${basedir}/../../test.log"
            archiveAboveSize="4194304"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="50"
            keepFileOpen="false"
            layout="${level:uppercase=false}: ${longdate} [${threadid}]${newline}     ${callsite}[${callsite-linenumber}]${newline}     ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>